# SPDX-FileCopyrightText: Copyright (c) 2022-2023 trobonox <hello@trobo.tech>
#
# SPDX-License-Identifier: CC0-1.0

node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
.vscode
.idea
dist/*
dist
