# SPDX-FileCopyrightText: Copyright (c) 2022-2024 trobonox <hello@trobo.dev>
#
# SPDX-License-Identifier: Apache-2.0

name: "Test frontend on pull requests"
on:
  pull_request:
    types: [ opened, reopened ]
    branches:
      - main
    paths:
      - 'package.json'
      - 'yarn.lock'

jobs:
  test-frontend:
    strategy:
      fail-fast: false

    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
    - name: setup node
      uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: install app dependencies and build it
      run: yarn && yarn generate
