# SPDX-FileCopyrightText: Copyright (c) 2022-2025 trobonox <hello@trobo.dev>
#
# SPDX-License-Identifier: Apache-2.0

name: "Test frontend on pull requests"
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    types: [ opened, reopened ]
    branches:
      - main
    paths:
      - 'package.json'
      - 'yarn.lock'

jobs:
  test-frontend:
    strategy:
      fail-fast: false

    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: setup node
      uses: actions/setup-node@v4
      with:
        node-version: 22
    - name: install app dependencies and build it
      run: yarn && yarn generate
