# SPDX-FileCopyrightText: Copyright (c) 2022-2026 trobonox <hello@trobo.dev>
#
# SPDX-License-Identifier: Apache-2.0

name: "Test frontend on pull requests"
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    types: [ opened, reopened ]
    branches:
      - main
    paths:
      - 'package.json'
      - 'yarn.lock'

jobs:
  test-frontend:
    strategy:
      fail-fast: false

    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: setup node
      uses: actions/setup-node@v4
      with:
        node-version: 22
    - name: install app dependencies and build it
      run: yarn && yarn generate
